
			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner">
					<ul class="hide">

						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

							<!-- COVER IMAGE -->
							<img src="assets/images/1x1.png" data-lazyload="assets/images/demo/wall.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />


							<div class="tp-caption large_bold_white sft stb"
								data-x="76"
								data-y="140"
								data-speed="300"
								data-start="1000"
								data-easing="easeOutExpo">MISSÃO
							</div>

							<div class="tp-caption small_light_white sft stb"
								data-x="86"
								data-y="216"
								data-speed="500"
								data-start="2000"
								data-easing="easeOutExpo">Criar plataformas através das quais estudantes nos Estados Unidos possam se engajar com o Brasil, inspirando-os a contribuir para o desenvolvimento do país.
							</div>

							<div class="tp-caption sft medium_light_white" 
								data-x="600" 
								data-y="110" 
								data-speed="600" 
								data-start="1500" 
								data-easing="easeOutExpo"><%= image_tag "connecting.png", width: "526" %>
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

							<!-- COVER IMAGE -->
							<img src="assets/images/1x1.png" data-lazyload="assets/images/demo/wall.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

							<div class="tp-caption lft boxshadow" 
								data-x="70" 
								data-y="70" 
								data-speed="900" 
								data-start="500" 
								data-easing="easeOutBack">
								<%= image_tag "brazusc1.jpg", width: "500px"%>
							</div>

							<div class="tp-caption sft large_bold_white" 
								data-x="630" 
								data-y="87" 
								data-speed="300" 
								data-start="1200" 
								data-easing="easeOutExpo">VISÃO
							</div>

							<div class="tp-caption lfb small_light_white" 
								data-x="630" 
								data-y="180" 
								data-speed="300" 
								data-start="1400" 
								data-easing="easeOutExpo">Ser a melhor comunidade de estudantes engajados com o Brasil nos Estados Unidos, unida em prol do desenvolvimento do Brasil.
							</div>


						</li>
						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

							<!-- COVER IMAGE -->
							<img src="assets/images/1x1.png" data-lazyload="assets/images/demo/wall.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

							<div class="tp-caption lft boxshadow" 
								data-x="70" 
								data-y="50" 
								data-speed="900" 
								data-start="500" 
								data-easing="easeOutBack">
								<%= image_tag "brazusc2.jpg", width: "500px" %>
							</div>

							<div class="tp-caption sft large_bold_white" 
								data-x="630" 
								data-y="87" 
								data-speed="300" 
								data-start="1200" 
								data-easing="easeOutExpo">VALORES
							</div>

							<div class="tp-caption lfb medium_light_white" 
								data-x="630" 
								data-y="180" 
								data-speed="300" 
								data-start="1400" 
                                data-easing="easeOutExpo">
                                <ul>
                                    <li>Engajamento com o Brasil</li>
                                    <li>Pró-atividade</li>
                                    <li>Ética</li>
                                    <li>Excelência</li>

							</div>
						</li>

						


					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<!-- CALLOUT -->
			<div class="callout dark"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
				<div class="container">

					<div class="row">

						<div class="col-md-9"><!-- title + shortdesc -->
							<h3>Junte-se a nós</h3>
							<p>Conheça todas as oportunidades que a BRASA tem a te oferecer</p>
						</div>

						<div class="col-md-3"><!-- button -->
                            <%= link_to "Inscreva-se aqui", new_user_path, class: "btn btn-primary btn-lg" %>
						</div>

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->

			<!-- WELCOME -->
			<section>
				<div class="container">
					<header>
						<h2>
							Frentes de Atuação
						</h2>
						<p class="lead">A BRASA visa dar apoio a estudantes brasileiros desde antes do ingresso à universidade nos Estados Unidos até a busca de empregos e o planejamento de carreira pós universidade. </p>
					</header>



					<!-- FEATURED BOXES 3 -->
					<div class="row featured-box-minimal">

						<div class="col-md-4 col-sm-6 col-xs-12">
							<h4>Pré Universidade</h4>
							<ul class="list-icon spaced check-circle">
															<li>Auxiliar estudantes brasileiros no application process.</li>
															<li>Mentoria para alunos de ensino médio.</li>
														</ul>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12">
							<h4>Universidade</h4>
							
							<ul class="list-icon spaced check-circle">
															<li>Organizar eventos e painéis a nivel nacional e regional.</li>
															<li>Promover a cultura Brasileira e a língua Portuguesa.</li>
															<li>Auxiliar esudantes que desejam conseguir “summer jobs” no
															Brasil.</li>
															
														</ul>
							
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12">
							<h4>Pós Universidade</h4>
							<ul class="list-icon spaced check-circle">
															<li>Auxiliar esudantes que desejam conseguir empregos no Brasil após a graduação.</li>
															
															
															
														</ul>
						</div>


						
					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
			<!-- /WELCOME -->

			<!-- DARK CALLOUT -->
			<div class="callout dark arrow-up">
				<div class="container text-center">

					<h2>Faculdades Associadas</h2>
					<p>Com presença em dezenas de faculdades americanas, A BRASA visa desenvolver a comunidade estudantil nos Estados Unidos.</p>
					
					<div class="divider half-margins hidden-xs"><!-- divider --></div>

					<div class="row text-left hidden-xs">
						<div class="col-md-4 col-sm-4">
							<ul class="list-icon spaced check-circle">
								<li>Brown University</li>
								<li>Columbia University</li>
								<li>Cornell University</li>
								<li>Georgetown University</li>
								<li>Georgia Institute of Technology</li>
								<li>Harvard University</li>
								<li>Massachusetts Institute of Technology</li>
								
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<ul class="list-icon spaced check-circle">
								<li>New York University</li>
								<li>Ohio State University</li>
								<li>Pennsylvania State University</li>
								<li>Stanford University</li>
								<li>The University of Chicago</li>
								<li>University of California, Berkeley</li>
								
									<li>University of California, Davis</li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<ul class="list-icon spaced check-circle">
								<li>University of California, San Diego</li>
								<li>University of Michigan</li>
								<li>University of Pennsylvania</li>
								<li>University of Southern California</li>
								<li>University of Virginia</li>
								<li>Yale University</li>
								<li>Worcester Polytechnic Institute</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<!-- /DARK CALLOUT -->


