

		


			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner">
					<ul class="hide">

						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

							<!-- COVER IMAGE -->
							<img src="assets/images/1x1.png" data-lazyload="assets/images/demo/wall.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />


							<div class="tp-caption large_bold_white sft stb"
								data-x="76"
								data-y="140"
								data-speed="300"
								data-start="1000"
								data-easing="easeOutExpo">MISSÃO
							</div>

							<div class="tp-caption small_light_white sft stb"
								data-x="86"
								data-y="216"
								data-speed="500"
								data-start="2000"
								data-easing="easeOutExpo">Estabelecer relações prolíficas e duradouras entre universidades</br>
								Americanas e o Brasil, criando assim uma plataforma através da </br>
								qual estudantes nos Estados Unidos possam agir para melhorar</br>
								o Brasil.
								
							</div>

							<div class="tp-caption sft medium_light_white" 
								data-x="600" 
								data-y="150" 
								data-speed="600" 
								data-start="1500" 
								data-easing="easeOutExpo"><%= image_tag "connecting.gif", width: "526" %>
							</div>

						</li>

						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

							<!-- COVER IMAGE -->
							<img src="assets/images/1x1.png" data-lazyload="assets/images/demo/wall.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

							<div class="tp-caption lft boxshadow" 
								data-x="70" 
								data-y="70" 
								data-speed="900" 
								data-start="500" 
								data-easing="easeOutBack">
								<%= image_tag "brazusc1.jpg", width: "500px"%>
							</div>

							<div class="tp-caption sft large_bold_white" 
								data-x="630" 
								data-y="87" 
								data-speed="300" 
								data-start="1200" 
								data-easing="easeOutExpo">VISÃO
							</div>

							<div class="tp-caption lfb small_light_white" 
								data-x="630" 
								data-y="180" 
								data-speed="300" 
								data-start="1400" 
								data-easing="easeOutExpo">Ser a melhor comunidade de estudantes engajados com o Brasil </br>
								nos Estados Unidos, unida em prol do desenvolvimento do</br>
								Brasil.
								
								
							</div>


						</li>
						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

							<!-- COVER IMAGE -->
							<img src="assets/images/1x1.png" data-lazyload="assets/images/demo/wall.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

							<div class="tp-caption lft boxshadow" 
								data-x="70" 
								data-y="50" 
								data-speed="900" 
								data-start="500" 
								data-easing="easeOutBack">
								<%= image_tag "brazusc2.jpg", width: "610" %>
							</div>

							<div class="tp-caption sft large_bold_white" 
								data-x="750" 
								data-y="57" 
								data-speed="300" 
								data-start="1200" 
								data-easing="easeOutExpo">VALORES
							</div>

							<div class="tp-caption lfb medium_light_white" 
								data-x="750" 
								data-y="180" 
								data-speed="300" 
								data-start="1400" 
								data-easing="easeOutExpo">&bull; Engajamento com o Brasil
							</div>

							<div class="tp-caption lfb medium_light_white" 
								data-x="750" 
								data-y="214" 
								data-speed="300" 
								data-start="1700" 
								data-easing="easeOutExpo">&bull; Pró-atividade
							</div>

							<div class="tp-caption lfb medium_light_white" 
								data-x="750" 
								data-y="254" 
								data-speed="300" 
								data-start="2000" 
								data-easing="easeOutExpo">&bull; Ética
							</div>


							<div class="tp-caption lfb medium_light_white" 
								data-x="750" 
								data-y="294" 
								data-speed="300" 
								data-start="2000" 
								data-easing="easeOutExpo">&bull; Excelência
							</div>
						</li>

						


					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<!-- CALLOUT -->
			<div class="callout dark"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
				<div class="container">

					<div class="row">

						<div class="col-md-9"><!-- title + shortdesc -->
							<h3>Junte-se a nós</h3>
							<p>Conheça todas as oportunidades que a BRASA tem a te oferecer</p>
						</div>

						<div class="col-md-3"><!-- button -->
							<a href="#purchase" class="btn btn-primary btn-lg">Inscreva-se aqui</a>
						</div>

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->

			<!-- WELCOME -->
			<section>
				<div class="container">
					<header>
						<h2>
							Frentes de Atuação
						</h2>
						<p class="lead">A BRASA visa dar apoio a estudantes brasileiros desde antes do ingresso à universidade nos Estados Unidos até a busca de empregos e o planejamento de carreira pós universidade. </p>
					</header>



					<!-- FEATURED BOXES 3 -->
					<div class="row featured-box-minimal">

						<div class="col-md-4 col-sm-6 col-xs-12">
							<h4>Pré Universidade</h4>
							<ul class="list-icon spaced check-circle">
															<li>Auxiliar estudantes brasileiros no application process</li>
															<li>Mentoria para alunos de ensino médio</li>
														</ul>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12">
							<h4>Universidade</h4>
							
							<ul class="list-icon spaced check-circle">
															<li>Organizar eventos e painéis a nivel nacional e regional.</li>
															<li>Promover a cultura Brasileira e a língua Portuguesa.</li>
															<li>Auxiliar esudantes que desejam conseguir “summer jobs” no
															Brasil.</li>
															
														</ul>
							
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12">
							<h4>Pós Universidade</h4>
							<ul class="list-icon spaced check-circle">
															<li>Auxiliar esudantes que desejam conseguir empregos no Brasil após a graduação.</li>
															<li>Planejamento de carreira estratégico</li>
															
															
														</ul>
						</div>


						
					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
			<!-- /WELCOME -->

			<!-- DARK CALLOUT -->
			<div class="callout dark arrow-up">
				<div class="container text-center">

					<h2>Faculdades Participantes</h2>
					<p>Dezenas de faculdades americanas estão participando da BRASA com o objetivo de desenvolver a comunidade estudantil brasileira nos Estados Unidos</p>
					
					<div class="divider half-margins hidden-xs"><!-- divider --></div>

					<div class="row text-left hidden-xs">
						<div class="col-md-4 col-sm-4">
							<ul class="list-icon spaced check-circle">
								<li>Brown University</li>
								<li>Columbia University</li>
								<li>Cornell University</li>
								<li>Georgetown University</li>
								<li>Georgia Institute of Technology</li>
								<li>Harvard University</li>
								
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<ul class="list-icon spaced check-circle">
								<li>Massachusetts Institute of Technology</li>
								<li>New York University</li>
								<li>Ohio State University</li>
								<li>Pennsylvania State University</li>
								<li>Stanford University</li>
								<li>The University of Chicago</li>
								
							</ul>
						</div>
						<div class="col-md-4 col-sm-4">
							<ul class="list-icon spaced check-circle">
								<li>University of California, Berkeley</li>
								<li>University of California, Davis</li>
								<li>University of California, San Diego</li>
								<li>University of Michigan</li>
								<li>University of Pennsylvania</li>
								<li>Yale University</li>
								<li>Worcester Polytechnic Institute</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<!-- /DARK CALLOUT -->

			<!-- CALLOUT -->
			<div class="callout styleBackgroundColor"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
				<div class="container">

					<div class="row">

						<div class="col-md-9"><!-- title + shortdesc -->
							<h3>Junte-se a nós</h3>
							<p>Crie também um núcleo BRASA em sua universidade</p>
						</div>

						<div class="col-md-3"><!-- button -->
							<a href="#purchase" rel="nofollow" target="_blank" class="btn btn-primary btn-lg">Mais informações</a>
						</div>

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->


			


		
		

