<div class="carousel" id="hp_carousel" style="position: relative;">
	<div id="blocks-wrap">
		<div class="blocks">
			<div class="block">Missão
			</div>	
			<div class="block">Valores
			</div>
			<div class="block">Visão
			</div>
			<div class="block">Atuação
			</div>
		</div>
	</div>

</div>

<div class="primary">
<div class="wrap" id="skip" role="main">

      <h2 class="hide">Harvard Channels</h2>

      <div class="filter-wrap" id="filter-drop" style="width: 978px;">
          <div class="filter">
              <strong class="filter-all"><span>All Channels</span></strong>
              <ul>
                  <li class="filter-arts"><a href="http://www.harvard.edu/arts-culture/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;arts-culture&#39;, 2]);">Arts &amp; Culture</a></li>

                  <li class="filter-community"><a href="http://www.harvard.edu/campus-community/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;campus-community&#39;, 2]);">Campus &amp; Community</a></li>
                  <li class="filter-global"><a href="http://www.harvard.edu/global-engagement/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;global-engagement&#39;, 2]);">Global Engagement</a></li>
                  <li class="filter-health"><a href="http://www.harvard.edu/health-medicine/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;health-medicine&#39;, 2]);">Health &amp; Medicine</a></li>
                  <li class="filter-public"><a href="http://www.harvard.edu/public-service/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;public-service&#39;, 2]);">Public Service</a></li>
                  <li class="filter-science"><a href="http://www.harvard.edu/science-engineering/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;science-engineering&#39;, 2]);">Science &amp; Engineering</a></li>

                  <li class="filter-sustainability"><a href="http://www.harvard.edu/sustainability-environment/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;sustainability-environment&#39;, 2]);">Sustainability &amp; Environment</a></li>
                  <li class="filter-teaching"><a href="http://www.harvard.edu/teaching-learning-innovation/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;teaching-learning-innovation&#39;, 2]);">Teaching &amp; Learning Innovation</a></li>
                  <li class="filter-unparalleled"><a href="http://www.harvard.edu/unparalleled-student-experience/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;unparalleled-student-experience&#39;, 2]);">Unparalleled Student Experience</a></li>
                  <li class="filter-social"><a href="http://www.harvard.edu/all-harvard-social-media/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNav&#39;, &#39;Click&#39;, &#39;Social&#39;, 2]);">Social Channels</a></li>
              </ul>
          </div>
      </div>

	<div class="expandable">
		<div id="home_content">
		 

			<ul class="listing split-b">
				<li class="first item-arts">
					<strong class="channel-more"><a href="http://www.harvard.edu/arts-culture/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNavTitle&#39;, &#39;Click&#39;, &#39;arts-culture&#39;, 2]);">Arts &amp; Culture</a></strong>
					<h3><a href="http://ofa.fas.harvard.edu/wordpress/?p=16950" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed20_Arts_HPA1&#39;, &#39;OffsiteClick&#39;, &#39;http://ofa.fas.harvard.edu/wordpress/?p=16950&#39;, 4]);">A scenic setting for creating scenery</a></h3>
				<p>This summer at Cobalt Studios in Bethel, New York, Artist Development Fellow Christina Rodriguez '15 learns the fine art of scenic painting. <a href="http://ofa.fas.harvard.edu/wordpress/?p=16950" class="more" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed20_Arts_HPA1_more&#39;, &#39;OffsiteClick&#39;, &#39;http://ofa.fas.harvard.edu/wordpress/?p=16950&#39;, 4]);">Read&nbsp;more…</a></p>
					<p class="data">1 Hour Ago</p>
				</li>
				<li class="item-social lead-video">
				  <strong class="channel-more" style="padding: 10px 13px 0;"><a href="http://www.harvard.edu/harvard-multimedia#audio">Audio@Harvard</a></strong>
				<div>
					


					
					<p><span>HKS Professor Christopher Avery’s research has shown that a large number of low-income students aren't even applying for selective schools, despite being well qualified.</span></p><p></p>
				</div>
				</li>
				<li class="item-teaching">
					<strong class="channel-more"><a href="http://www.harvard.edu/teaching-learning-innovation/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNavTitle&#39;, &#39;Click&#39;, &#39;teaching-learning-innovation&#39;, 2]);">Teaching &amp; Learning Innovation</a></strong>
					<h3><a href="http://feeds.harvardbusiness.org/~r/harvardbusiness/~3/hxa1gjDDfcs/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed66_Teaching_HPA3&#39;, &#39;OffsiteClick&#39;, &#39;http://feeds.harvardbusiness.org/~r/harvardbusiness/~3/hxa1gjddfcs/&#39;, 4]);">The Answer to Every Business Question Is “It Depends”</a></h3>
				<p>The trick is knowing what it depends on. <a href="http://feeds.harvardbusiness.org/~r/harvardbusiness/~3/hxa1gjDDfcs/" class="more" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed66_Teaching_HPA3_more&#39;, &#39;OffsiteClick&#39;, &#39;http://feeds.harvardbusiness.org/~r/harvardbusiness/~3/hxa1gjddfcs/&#39;, 4]);">Read&nbsp;more…</a></p>
					<p class="data">1 Hour Ago</p>
				</li>
			</ul>

			<ul class="listing split-b">
				<li class="first item-social">
					<div><!-- item-socials need a nested div for relative positioning of the "link-reply", p.data stays outside this div for positioning relative to the ul-->
			<a href="https://twitter.com/intent/tweet?in_reply_to=492359794423234561" class="link-reply" target="_blank" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Home&#39;, &#39;Reply&#39;, &#39;TwitterReply&#39;, 3]);">Reply</a>
			<strong class="channel-more"><a href="http://www.harvard.edu/social-media" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNavTitle&#39;, &#39;Click&#39;, &#39;Social&#39;, 2]);">Social Channels</a></strong>
					<div class="excerpt">
					<h3 class="who"><a href="http://twitter.com/Harvard" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Twitter_Harvard_Social_HPA4&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvard&#39;, 4]);">@Harvard</a></h3>
					<p>RT  <a href="http://twitter.com/HarvardLibrary">@HarvardLibrary</a>: Student studying in Widener Library, c. 1942  <a href="http://hvrd.me/zxcZU">http://hvrd.me/zxcZU</a> <a href="http://twitter.com/search?q=%23TBT">#TBT</a>  <a href="http://twitter.com/HarvardAlumni">@HarvardAlumni</a>  <a href="http://t.co/HDzd7HktpQ">http://t.co/HDzd7HktpQ</a></p>
				</div>
			</div>
					<p class="data">12 Minutes Ago</p>
				</li>
				<li class="item-teaching">
					<strong class="channel-more"><a href="http://www.harvard.edu/teaching-learning-innovation/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNavTitle&#39;, &#39;Click&#39;, &#39;teaching-learning-innovation&#39;, 2]);">Teaching &amp; Learning Innovation</a></strong>
					<h3><a href="http://www.pon.harvard.edu/daily/international-negotiation-daily/coping-with-culture-at-the-bargaining-table/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed243_Teaching_HPA5&#39;, &#39;OffsiteClick&#39;, &#39;http://www.pon.harvard.edu/daily/international-negotiation-daily/coping-with-culture-at-the-bargaining-table/&#39;, 4]);">Coping with Culture at the Bargaining Table</a></h3>
				<p>Intercultural negotiations are common these days—and so are culture clashes. Here’s how to handle the added complexity such talks can bring.

Imagine that you’re the American representative of a U.S. food company, and you’re hoping to procure a new ingredient for several of your products from a German company. <a href="http://www.pon.harvard.edu/daily/international-negotiation-daily/coping-with-culture-at-the-bargaining-table/" class="more" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed243_Teaching_HPA5_more&#39;, &#39;OffsiteClick&#39;, &#39;http://www.pon.harvard.edu/daily/international-negotiation-daily/coping-with-culture-at-the-bargaining-table/&#39;, 4]);">Read&nbsp;more…</a></p>
					<p class="data">2 Hours Ago</p>
				</li>
				<li class="item-social lead-video">
				<div>
				  <div class="embed-container">
					

					</div>
					<h3>
						<a href="http://youtu.be/6D2YSOGpen0" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed_video_HPA6&#39;, &#39;OffsiteClick&#39;, &#39;http://youtu.be/6d2ysogpen0&#39;, 4]);">
						<span class="title">Nelson Mandela at Harvard</span>
						</a>
					</h3>
					<p></p><p>Nelson Mandela was given an honorary doctoral degree from Harvard University in a special fall convocation on September 18, 1998. Introduced by former University President Neil L. Rudenstine, Mandela delivered an address in the Tercentenary Theatre of Harvard Yard.</p><p></p>
				</div>
				</li>
			</ul>

			<ul class="listing split-b">
				<li class="first item-health">
					<strong class="channel-more"><a href="http://www.harvard.edu/health-medicine/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNavTitle&#39;, &#39;Click&#39;, &#39;health-medicine&#39;, 2]);">Health &amp; Medicine</a></strong>
					<h3><a href="http://hms.harvard.edu/news/evasive-maneuver" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed214_Health_HPA7&#39;, &#39;OffsiteClick&#39;, &#39;http://hms.harvard.edu/news/evasive-maneuver&#39;, 4]);">Evasive Maneuver</a></h3>
				<p>Discovery presents new challenges for HIV eradication efforts <a href="http://hms.harvard.edu/news/evasive-maneuver" class="more" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed214_Health_HPA7_more&#39;, &#39;OffsiteClick&#39;, &#39;http://hms.harvard.edu/news/evasive-maneuver&#39;, 4]);">Read&nbsp;more…</a></p>
					<p class="data">4 Hours Ago</p>
				</li>
				<li class="item-social">
					<div><!-- item-socials need a nested div for relative positioning of the "link-reply", p.data stays outside this div for positioning relative to the ul-->
			<a href="https://twitter.com/intent/tweet?in_reply_to=492358631627956224" class="link-reply" target="_blank" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Home&#39;, &#39;Reply&#39;, &#39;TwitterReply&#39;, 3]);">Reply</a>
			<strong class="channel-more"><a href="http://www.harvard.edu/social-media" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNavTitle&#39;, &#39;Click&#39;, &#39;Social&#39;, 2]);">Social Channels</a></strong>
					<div class="excerpt">
					<h3 class="who"><a href="http://twitter.com/Harvard" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Twitter_Harvard_Social_HPA8&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvard&#39;, 4]);">@Harvard</a></h3>
					<p>Can new materials change the rules of physics? [video]  <a href="http://hvrd.me/zpUGe">http://hvrd.me/zpUGe</a></p>
				</div>
			</div>
					<p class="data">17 Minutes Ago</p>
				</li>
				<li class="item-unparalleled">
					<strong class="channel-more"><a href="http://www.harvard.edu/unparalleled-student-experience/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;TopicNavTitle&#39;, &#39;Click&#39;, &#39;unparalleled-student-experience&#39;, 2]);">Unparalleled Student Experience</a></strong>
					<h3><a href="http://www.gocrimson.com/sports/mcrew-lw/2013-14/releases/20140724w1hr8b" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed231_Unparalleled_HPA9&#39;, &#39;OffsiteClick&#39;, &#39;http://www.gocrimson.com/sports/mcrew-lw/2013-14/releases/20140724w1hr8b&#39;, 4]);">Row2k Interviews Andrew Campbell ’14</a></h3>
				<p><img src="./Harvard University_files/20140412_HarvardRowing-V8_-8-_NEW_Rotator.jpg" alt="">Starting this week, USA lightweight single sculler Andrew Campbell embarks on a rare attempt to compete in two World Championship regattas – this week in the Under 23 Worlds,  <a href="http://www.gocrimson.com/sports/mcrew-lw/2013-14/releases/20140724w1hr8b" class="more" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Feed231_Unparalleled_HPA9_more&#39;, &#39;OffsiteClick&#39;, &#39;http://www.gocrimson.com/sports/mcrew-lw/2013-14/releases/20140724w1hr8b&#39;, 4]);">Read&nbsp;more…</a></p>
					<p class="data">13 Hours Ago</p>
				</li>
			</ul>
      </div><!--/#home_content-->
          <!-- GA tracking on the view_more link is added to the JS, functions.js-->
 			<div class="load" id="view_more" onclick="get_more_home_items();"><span>View more</span></div>
		<div id="home_items_loading" style="display:none;"><img src="./Harvard University_files/loading-gif-animation.gif" border="0"></div>
    <div id="curr_timestamp" style="display:none;">1406174400</div>
	</div>
	
<script type="text/javascript">
var views_left = 2;
</script>

</div>
</div>
<div id="streamer-social-backup" style="display:none">
		<div class="heading">
			<h2 class="title"><strong>Connect</strong> with&nbsp;Harvard via:</h2>
		</div>
		
		
			<div class="prime twitter-feed heading-tabset">
				<div class="heading-tab">
					<h3 class="twitter">Twitter</h3>
				</div>
				
				<ul class="listing slider">
					<li class="first">
						<p class="data">About 14 Minutes Ago from <a href="http://twitter.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvard&#39;, 3]);">@Harvard</a></p>
						<p>RT  <a href="http://twitter.com/HarvardLibrary">@HarvardLibrary</a>: Student studying in Widener Library, c. 1942  <a href="http://hvrd.me/zxcZU">http://hvrd.me/zxcZU</a> <a href="http://twitter.com/search?q=%23TBT">#TBT</a>  <a href="http://twitter.com/HarvardAlumni">@HarvardAlumni</a>  <a href="http://t.co/HDzd7HktpQ">http://t.co/HDzd7HktpQ</a></p>				
					</li>
					<li>
						<p class="data">About 19 Minutes Ago from <a href="http://twitter.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvard&#39;, 3]);">@Harvard</a></p>
						<p>Can new materials change the rules of physics? [video]  <a href="http://hvrd.me/zpUGe">http://hvrd.me/zpUGe</a></p>				
					</li>
					<li>
						<p class="data">About 19 Minutes Ago from <a href="http://twitter.com/HarvardAlumni/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvardalumni&#39;, 3]);">@HarvardAlumni</a></p>
						<p>RT  <a href="http://twitter.com/HarvardLibrary">@HarvardLibrary</a>: Student studying in Widener Library, c. 1942  <a href="http://hvrd.me/zxcZU">http://hvrd.me/zxcZU</a> <a href="http://twitter.com/search?q=%23TBT">#TBT</a>  <a href="http://twitter.com/HarvardAlumni">@HarvardAlumni</a>  <a href="http://t.co/kxBRY23fWt">http://t.co/kxBRY23fWt</a></p>				
					</li>
					<li>
						<p class="data">About 1 Hour Ago from <a href="http://twitter.com/HarvardAlumni/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvardalumni&#39;, 3]);">@HarvardAlumni</a></p>
						<p>RT  <a href="http://twitter.com/Harvard">@Harvard</a>: Six Harvard researchers have been awarded research grants from the Human Frontier Science Program  <a href="http://hvrd.me/zvIVX">http://hvrd.me/zvIVX</a></p>				
					</li>
					<li>
						<p class="data">About 1 Hour Ago from <a href="http://twitter.com/GreenHarvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_greenharvard&#39;, 3]);">@GreenHarvard</a></p>
						<p>Meet <a href="http://twitter.com/search?q=%23Harvard">#Harvard</a> faculty researching the <a href="http://twitter.com/search?q=%23environment">#environment</a>  <a href="http://hvrd.me/zxITy">http://hvrd.me/zxITy</a></p>				
					</li>
					<li>
						<p class="data">About 1 Hour Ago from <a href="http://twitter.com/HarvardArts/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvardarts&#39;, 3]);">@HarvardArts</a></p>
						<p>VES concentrator Christina Rodriguez '15 learns the art of scenic painting this summer in a very scenic setting:  <a href="http://bit.ly/1nwED5C">http://bit.ly/1nwED5C</a></p>				
					</li>
					<li>
						<p class="data">About 1 Hour Ago from <a href="http://twitter.com/GreenHarvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_greenharvard&#39;, 3]);">@GreenHarvard</a></p>
						<p>. <a href="http://twitter.com/hseas">@hseas</a> administration celebrates their <a href="http://twitter.com/search?q=%23recycling">#recycling</a> competition win. Congrats!  <a href="http://t.co/CTdj6PfWe6">http://t.co/CTdj6PfWe6</a></p>				
					</li>
					<li>
						<p class="data">About 2 Hours Ago from <a href="http://twitter.com/HarvardAlumni/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvardalumni&#39;, 3]);">@HarvardAlumni</a></p>
						<p>See ethicist, Mark Pastin AM'72, PhD'73, discuss tools for ethical action with  <a href="http://twitter.com/HarvardDC">@HarvardDC</a> on Wednesday  <a href="http://hvrd.me/yKlOO">http://hvrd.me/yKlOO</a> <a href="http://twitter.com/search?q=%23HAAEvents">#HAAEvents</a></p>				
					</li>
					<li>
						<p class="data">About 2 Hours Ago from <a href="http://twitter.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Twitter_harvard&#39;, 3]);">@Harvard</a></p>
						<p>Do women talk more than men?  <a href="http://twitter.com/HarvardHSPH">@HarvardHSPH</a> has the answer  <a href="http://hvrd.me/zxwcY">http://hvrd.me/zxwcY</a></p>				
					</li>
				</ul>
			</div>

			<div class="prime heading-tabset">
				<div class="heading-tab">
					<h3 class="fb">Facebook</h3>
				</div>
				
				<ul class="listing slider">
					<li class="first">
						<p class="data">About 4 Hours Ago from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>Harvard's Hiphop Archive teaches teens the history of hip-hop, its role in society, and the skills it takes to write, record, and perform  <a href="http://news.harvard.edu/gazette/story/2014/07/deep-in-the-beat/?utm_source=facebook&utm_medium=social&utm_campaign=hu-facebook-general" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 23, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>New research points to biological mechanisms and pathways that may underlie schizophrenia, and could lead to new approaches to treating the  <a href="http://news.harvard.edu/gazette/story/2014/07/researchers-shed-new-light-on-schizophrenia/?utm_source=facebook&utm_medium=social&utm_campaign=hu-facebook-general" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 22, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>The Broad Institute announced an unprecedented commitment of $650 million from philanthropist Ted Stanley aimed at galvanizing scientific  <a href="http://news.harvard.edu/gazette/story/2014/07/broad_psychiatric_research_gift/?utm_source=facebook&utm_medium=social&utm_campaign=hu-facebook-general" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 21, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>A new genome-editing tool could potentially be used to manage insect-borne diseases like malaria. <a href="http://hms.harvard.edu/news/managing-ecosystems-genomics?utm_source=facebook&utm_medium=social&utm_campaign=hu-facebook-general" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 20, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>New Harvard College Dean Rakesh Khurana is looking forward to the upcoming academic year, when he will apply his background to the  <a href="https://www.facebook.com/photo.php?fbid=10152160838766607&set=a.158722856606.126506.105930651606&type=1&relevant_count=1" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 20, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>New Harvard College Dean Rakesh Khurana is looking forward to the upcoming academic year, when he apply his background to the undergraduate  <a href="https://www.facebook.com/photo.php?fbid=10152160658921607&set=a.158722856606.126506.105930651606&type=1&relevant_count=1" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 19, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>"It's like going to a buffet where there's all the best desserts in the world. You just don't know where to start. <a href="http://hvrd.me/zjLBY" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 18, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>Stained glass is illuminated inside of Adams House. Kris Snibbe/Harvard Staff Photographer <a href="https://www.facebook.com/photo.php?fbid=10152156908146607&set=a.10152144028401607.1073741856.105930651606&type=1&relevant_count=1" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
					<li>
						<p class="data">July 18, 2014 from <a href="http://facebook.com/Harvard/" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;Facebook_harvard&#39;, 3]);">Harvard</a></p>
						<p>The sun shines into Adams House during a summer day on campus. Kris Snibbe/Harvard Staff Photographer <a href="https://www.facebook.com/photo.php?fbid=10152156908141607&set=a.10152144028401607.1073741856.105930651606&type=1&relevant_count=1" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;Connect&#39;, &#39;OffsiteClick&#39;, &#39;FacebookReadmore&#39;, 2]);" class="more">Read&nbsp;more…</a></p>				
					</li>
				</ul>
			</div>		
	</div>