// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

large_bold_white {
    text-transform: uppercase;
}


.product {
	background-color: #eee;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;

	a, a:visited, a:hover, a:active, a:focus {
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1em;
		color: #000;
		background-color: transparent;
		outline-color: none;
	}

	ul {
		padding-left: 20px;
	}

	a, li {
		background-color: transparent;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1em;
		color: #000;
	}

	p {
		margin: 0px;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1em;
		color: #000;
		padding: 2px;
	}

	h5 {
		margin: 0px;
		font-size: 1em;
		padding-bottom: 3px;
		border-bottom: 1px solid #060;
		padding: 2px;
		text-transform: uppercase;
		font-weight: 500;
		color: #060;
		text-align: left;
	}

	span {
		font-size: 1.1em;
		margin: 4px;
	}

	img {
		width: 80px;
		margin: 3px;
	}


	.conference {
		display:inline-block;
		width: 100px;
		padding: 5px;
		text-align: center;

	}


}

#conferences {
	text-align: center;
	height: 160px;
	min-width: 330px;
}